/*=============== WORK DETAIL PAGE ===============*/
.work__detail-title{
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 10rem;
    font-size: var(--biggest-font-size);
    letter-spacing: 1px;
    font-family: Graphit-Medium;
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.work__detail-category {
    padding: 0 15%;
    color: var(--second-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
    font-family: Graphit-Regular;
}

.developer {
    padding: 0 15%;
    display: flex;
    margin-top: 2rem;
}

.developer__profile {
    display: flex;
    margin-right: 2rem;
}

.developer__profile-img {
    width: 40px;
    height: 40px;
    margin-right: .7rem;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.developer__profile-name {
    font-family: Graphit-Medium;
    font-weight: 500;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.developer__profile-role {
    font-family: graphik-regular;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

.work__detail-img {
    margin-top: 6rem;
    position: relative;
    width: 100%;
}

.work__detail-body {
    margin-top: 4rem;
    padding: 0 15%;
    font-family: graphik-regular;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    letter-spacing: 1px;
    line-height: 150%;
}

.work__detail-body strong{
    font-family: graphik-medium;
    line-height: 125%;
}

.work__detail-body img{
    width: 100%;
}

.credit {
    margin-top: 4rem;
    padding: 2rem 15%;
    background: var(--title-color);
}
